@import "tailwindcss";

@theme {
  --color-medx-blue-dark: #003f82ff;
  --color-medx-blue-light: #bcd4f4ff;
  --color-medx-blue-lightest: #edf0faff;
  --color-medx-transparent: transparent;

  --color-medx-blue-text-standard: #003f82ff;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  min-height: 100vh;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* I'm not sure how to write this in tailwind */
fieldset {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
fieldset[data-hasvalue="true"] + fieldset,
fieldset:first-of-type {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
